# firebase vars
READ_API_URL=''
READ_TOKEN=''

#docker containers
MYSQL_PORT=3306
PHPMYADMIN_PORT=9000
DOCKER_COVID_MYSQL="docker.covid.mysql"
DOCKER_COVID_ADMIN="docker.covid.phpmyadmin"

# point to your dataset repo
PUBLIC_DATASETS_REPO_RELATIVE_PATH='../datasets'

# other vars
DATABASE_NAME=covid_dev
GEOCODING_RAW_FILE_URL="https://raw.githubusercontent.com/covidmap-sweden/geo-locations/master/data/swe/swe_geocoding.csv"
